/* Map */
body {
  background-color: black;

}

.jumbotron {
  background: url(https://images.pexels.com/photos/274194/pexels-photo-274194.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500) center center;
  /* background: url(https://cdn.pixabay.com/photo/2015/09/24/20/36/beer-barrel-956322_1280.jpg) center center no-repeat; */
  /* background: url(https://cdn.pixabay.com/photo/2017/06/23/17/49/beer-tap-2435408_1280.jpg) center center no-repeat; */

  height: 350px;
  /* opacity: 0.8; */
}


h1.page-title {
  font-size: 6em;
  font-weight: bold;
  padding-top: 0px;
}

.map {
  height: 50rem;

}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 300px;
  /* Location of the box */
  left: 100;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  box-sizing: border-box;
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: gold;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#mug {
  color: gold;
}